<div class="tab flexrow active" data-group="primary" data-tab="description">

    <div class="item-properties">
        {{#if isPhysical}}
        <div class="form-group">
            <label>{{ localize "SWNMODULAR.Quantity" }}</label>
            <input type="text" name="data.quantity" value="{{data.quantity}}" data-dtype="Number"/>
        </div>

        <div class="form-group">
            <label>{{ localize "SWNMODULAR.Weight" }}</label>
            <input type="text" name="data.weight" value="{{data.weight}}" data-dtype="Number"/>
        </div>

        <div class="form-group">
            <label>{{ localize "SWNMODULAR.Price" }}</label>
            <input type="text" name="data.price" value="{{data.price}}" data-dtype="Number"/>
        </div>
        <div class="form-group item-location">
<!--            Choose whether equipment is readied, equipped, or stored-->
            <label>{{ localize "SWNMODULAR.Location" }}</label>
            <select name = "data.location">
                {{#select data.location}}
                    {{#each config.equipmentLocation as |name type|}}
                        <option value="{{type}}">{{name}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>
        {{/if}}

        <ol class="properties-list">
            {{#each itemProperties}}
            <li>{{this}}</li>
            {{/each}}
        </ol>
    </div>

    {{editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}
</div>