<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>

        <section class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'SWNMODULAR.Name' }}"/>
            </h1>

            <aside class="header-exp flexcol">
                <div class="charlevel" title="{{multiclassLabels}}">
<!--                    <label>{{ localize "SWNMODULAR.Level" }} {{data.details.level}}</label>-->
                    <label> {{ localize "SWNMODULAR.Level" }} </label>
                    <input class = "levelInput" name = "data.attributes.level.value" type = "number" value = "{{data.attributes.level.value}}" placeholder="0" data-dtype="Number"/>
                    <span class="levels">{{classLabels}}</span>
                </div>

                {{#unless disableExperience}}
                <div class="experience flexrow">
                    <input name="data.details.xp.value" type="text" value="{{data.details.xp.value}}" placeholder="0" data-dtype="Number"/>
                    <span class="sep">/</span>
                    <span class="max">{{data.details.xp.max}}</span>
                </div>
                <div class="xpbar">
                    <span class="bar" style="width: {{data.details.xp.pct}}%"></span>
                </div>
                {{/unless}}
            </aside>

            {{!-- Header Attributes --}}

            {{!-- Character Summary --}}
            <ul class="summary flexrow">
                <!--                Use this as a template to add things to the upper header line if needed-->
                <!--                <li>-->
                <!--                    <input type="text" name="data.details.race" value="{{data.details.race}}" placeholder="{{ localize 'SWNMODULAR.Race' }}"/>-->
                <!--                </li>-->
                <li>
                    <input type="text" name="data.details.background" value="{{data.details.background}}" placeholder="{{ localize 'SWNMODULAR.Background' }}"/>
                </li>
                <!--                <li>-->
                <!--                    <input class="saves" name="data.abilities.{'str'}.value" type="number" value="{str.value}"/>-->
                <!--                </li>-->
                <li>
                    <input type="text" name="data.details.focus" value="{{data.details.focus}}" placeholder="{{ localize 'SWNMODULAR.Focus' }}"/>
                </li>
                <li>
<!--                    <label> {{localize "SWNMODULAR.CurrencyCredits"}}</label>-->
                    <input type="text" name="data.currency.credits" value="{{data.currency.credits}}" data-dtype="Number" placeholder="{{localize 'SWNMODULAR.CurrencyCredits'}}"/>
                </li>
            </ul>


            <ul class="attributes flexrow">
                <li class="attribute health no-sub">
                    <h4 class="attribute-name box-title">{{ localize "SWNMODULAR.HitPoints" }}</h4>
                    <div class="attribute-value multiple no-sub">
                        <input name="data.attributes.hp.value" type="text" value="{{data.attributes.hp.value}}" placeholder="10" data-dtype="Number"/>
                        <span class="sep"> / </span>
                        <input name="data.attributes.hp.max" type="text" value="{{data.attributes.hp.max}}" placeholder="10" data-dtype="Number"/>
                    </div>
<!--                    <footer class="attribute-footer">-->
<!--                        <input name="data.attributes.hp.temp" type="text" class="temphp" placeholder="+{{ localize 'SWNMODULAR.Value' }}"-->
<!--                               value="{{data.attributes.hp.temp}}" data-dtype="Number"/>-->
<!--                        <input name="data.attributes.hp.tempmax" type="text" class="temphp" placeholder="+{{ localize 'SWNMODULAR.Max' }}"-->
<!--                               value="{{data.attributes.hp.tempmax}}" data-dtype="Number"/>-->
<!--                    </footer>-->
                </li>

                <li class="attribute">
                    <h4 class="attribute-name box-title">{{ localize "SWNMODULAR.HitDice" }}</h4>
                    <div class="attribute-value multiple no-sub">
                        <label class="hit-dice">{{data.attributes.level.value}} D6 + {{data.abilities.con.mod}}</span></label>
                    </div>
<!--                    <footer class="attribute-footer">-->
<!--                        <a class="rest short-rest">{{ localize "SWNMODULAR.RestS" }}</a>-->
<!--                        <a class="rest long-rest">{{ localize "SWNMODULAR.RestL" }}</a>-->
<!--                    </footer>-->
                </li>

                <li class="attribute">
                    <h4 class="attribute-name box-title">{{ localize "SWNMODULAR.ArmorClass" }}</h4>
                    <div class="attribute-value">
                        <input name="data.attributes.ac.value" type="number" value="{{data.attributes.ac.value}}" placeholder="10"/>
                    </div>
                    <footer class="attribute-footer">
                        <span class="spell-dc">{{localize "SWNMODULAR.BaseAC"}}: {{data.attributes.base}}</span>
                    </footer>
                </li>

                <li class="attribute movement">
                    <h4 class="attribute-name box-title">
                        {{ localize "SWNMODULAR.Movement" }}
                        <a class="config-button" data-action="movement" title="{{localize 'SWNMODULAR.MovementConfig'}}"><i class="fas fa-cog"></i></a>
                    </h4>
                    <div class="attribute-value">
                        <span>{{movement.primary}}</span>
                    </div>
                    <footer class="attribute-footer">
                        <span>{{movement.special}}</span>
                    </footer>
                </li>

                <li class="attribute initiative">
                    <h4 class="attribute-name box-title rollable" data-action="rollInitiative">{{ localize "SWNMODULAR.Initiative" }}</h4>
                    <div class="attribute-value no-sub">
                        <span>{{numberFormat data.attributes.init.total decimals=0 sign=true}}</span>
                    </div>
<!--                    <footer class="attribute-footer">-->
<!--                        I'm removing this for now, to make room for possible save buttons. -Lofty -->
<!--                        <span>{{ localize "SWNMODULAR.Modifier" }}</span>-->
<!--                        <input name="data.attributes.init.value" type="text" data-dtype="Number" placeholder="0"-->
<!--                               value="{{numberFormat data.attributes.init.value decimals=0 sign=true}}"/>-->
<!--                    </footer>-->
                </li>
            </ul>

        </section>
    </header>

    {{!-- Character Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="attributes">{{ localize "SWNMODULAR.Attributes" }}</a>
        <a class="item" data-tab="inventory">{{ localize "SWNMODULAR.Inventory" }}</a>
        <!--        I've renamed spellbook to psionics. Just the name has changed. -Lofty-->
        <a class="item" data-tab="spellbook">{{ localize "SWNMODULAR.Spellbook" }}</a>
        <a class="item" data-tab="features">{{ localize "SWNMODULAR.Features" }}</a>
        <a class="item" data-tab="effects">{{ localize "SWNMODULAR.Effects" }}</a>
        <a class="item" data-tab="biography">{{ localize "SWNMODULAR.Biography" }}</a>
    </nav>

    {{!-- Character Sheet Body --}}
    <section class="sheet-body">

        <div class="tab attributes flexrow" data-group="primary" data-tab="attributes">

            {{!-- Ability Scores --}}
            <ul class="ability-scores flexrow">
            {{#each data.abilities as |ability id|}}
                <li class="ability" data-ability="{{id}}">
                    <h4 class="ability-name box-title rollable">{{ability.label}}</h4>
                    <input class="ability-score" name="data.abilities.{{id}}.value" type="number" value="{{ability.value}}" placeholder="10"/>
                    <div class="ability-modifiers flexrow">
                        <!-- this is the ability modifier here-->
                        <span class="ability-mod" title="Modifier" id="att-mod">{{numberFormat ability.mod decimals=0 sign=true}}</span>
<!--                        I'm taking out this part, since SWN has no save proficiencies with attributes - lofty -->
<!--                        <input type="hidden" name="data.abilities.{{id}}.proficient" value="{{ability.proficient}}" data-dtype="Number"/>-->
<!--                        <a class="proficiency-toggle ability-proficiency" title="{{ localize 'SWNMODULAR.Proficiency' }}">{{{ability.icon}}}</a>-->
<!--                        <span class="ability-save" title="Saving Throw">{{numberFormat ability.save decimals=0 sign=true}}</span>-->
                    </div>
                </li>
            {{/each}}
            </ul>

            {{!-- Skills --}}
            <ul class="skills-list">
            {{#each data.skills as |skill s|}}
                <li class="skill flexrow" data-skill="{{s}}">
<!--                    <input type="hidden" name="data.skills.{{s}}.value" value="{{skill.value}}" data-dtype="Number"/>-->

                    <h4 class="skill-name rollable">{{skill.label}}</h4>
                    <input class="skill-mod" name = "data.skills.{{s}}.value" value="{{skill.value}}"
                           title = "Level" type="number" placeholder="0" />
                    <input class="skill-other" name = "data.skills.{{s}}.prof" value="{{skill.prof}}"
                           title = "Other" type="number" placeholder="-1" />


                </li>
            {{/each}}
            </ul>

            <section class="center-pane flexcol">
                <ul class="attributes flexrow boxes">

                    <!--                    Save buttons from Lofty-->
                <div>
                    <li class="attribute resource save-box">
                        <h4 class="save-click attribute-name box-title rollable" data-saves = "psave"> Physical Save </h4>
                        <div class="attribute-value">
                            <span name="data.attributes.saves.psave" type="text"> vs {{data.attributes.psave}} </span>
                        </div>
                    </li>
                </div>
                <div>
                    <li class="attribute resource save-box">
                        <h4 class="save-click attribute-name box-title rollable" data-saves = "esave"> Evasion Save </h4>
                        <div class="attribute-value">
                            <span name="data.attributes.saves.esave" type="text"> vs {{data.attributes.esave}} </span>
                        </div>
                    </li>
                </div>
                <div>
                    <li class="attribute resource save-box">
                        <h4 class="save-click attribute-name box-title rollable" data-saves = "msave"> Mental Save </h4>
                        <div class="attribute-value">
                            <span name="data.attributes.saves.msave" type="text"> vs {{data.attributes.msave}} </span>
                        </div>
                    </li>
                </div>

                </ul>

                {{!-- Body Attributes --}}
                <ul class="attributes flexrow">

<!--                    System Strain from Lofty-->
                    <div>
                        <li class="attribute resource">
                            <h4 class="attribute-name box-title"> System Strain </h4>
                            <div class="attribute-value">
                                <input name="data.attributes.strain.value" type="text" value="{{data.attributes.strain.value}}"
                                       data-dtype="Number" placeholder= "0"/>
                                <span class="sep"> /&nbsp; </span>
                                <span> {{data.abilities.con.value}} </span>
    <!--                            <input name="data.attributes.strain.max" type="text" value="{{data.attributes.strain.max}}"-->
    <!--                                   data-dtype="Number" placeholder="0"/>-->
                            </div>
                        </li>
                    </div>
                    {{#each resources as |res|}}
                    <div>
                        <li class="attribute resource">
                            <h4 class="attribute-name custom-resource">
                                <input name="data.resources.{{res.name}}.label" type="text" value="{{res.label}}"
                                       placeholder="{{res.placeholder}}" />
                            </h4>
                            <div class="attribute-value custom-value">
                                <input name="data.resources.{{res.name}}.value" type="number" value="{{res.value}}" placeholder="0"/>
                                <span class="sep"> / </span>
                                <input name="data.resources.{{res.name}}.max" type="number" value="{{res.max}}" placeholder="0"/>
                            </div>
                        </li>
                    </div>
                    {{/each}}
                </ul>



                {{!-- Counters --}}
                <div class="flexrow front-info">
<!--                    <label></label>-->
<!--                    <h4> {{ localize "SWNMODULAR.Flaws" }}</h4>-->
<!--                    <textarea name="data.details.flaw">{{data.details.flaw}}</textarea>-->

                    <div class = "info biography">
                        {{editor content=data.details.info.value target="data.details.info.value" button=true owner=owner editable=editable}}

                    </div>
                    <div class = "info biography">
                        {{editor content=data.details.scars.value target="data.details.scars.value" button=true owner=owner editable=editable}}

                    </div>
                </div>
            </section>
        </div>

        {{!-- Inventory Tab --}}
        <div class="tab inventory flexcol" data-group="primary" data-tab="inventory">
            {{> "systems/swnmodular/templates/actors/parts/actor-inventory.html" sections=inventory}}
        </div>

        {{!-- Features Tab --}}
        <div class="tab features flexcol" data-group="primary" data-tab="features">
            {{> "systems/swnmodular/templates/actors/parts/actor-features.html" sections=features}}
        </div>

        {{!-- Psionics Tab --}}
        <div class="tab spellbook flexcol" data-group="primary" data-tab="spellbook">
            {{> "systems/swnmodular/templates/actors/parts/actor-spellbook.html"}}
        </div>

        {{!-- Effects Tab --}}
        <div class="tab effects flexcol" data-group="primary" data-tab="effects">
            {{!-- Traits --}}
            {{> "systems/swnmodular/templates/actors/parts/actor-traits.html"}}

            {{> "systems/swnmodular/templates/actors/parts/active-effects.html"}}



        </div>

        {{!-- Biography Tab --}}
        <div class="tab flexrow" data-group="primary" data-tab="biography">
            <div class="characteristics flexcol">
                <label>{{ localize "SWNMODULAR.Appearance" }}</label>
                <textarea name="data.details.appearance">{{data.details.appearance}}</textarea>
                <label>{{ localize "SWNMODULAR.PersonalityTraits" }}</label>
                <textarea name="data.details.trait">{{data.details.trait}}</textarea>
                <label>{{ localize "SWNMODULAR.Ideals" }}</label>
                <textarea name="data.details.ideal">{{data.details.ideal}}</textarea>
                <label>{{ localize "SWNMODULAR.Bonds" }}</label>
                <textarea name="data.details.bond">{{data.details.bond}}</textarea>
            </div>
            <div class="biography">
                {{editor content=data.details.biography.value target="data.details.biography.value" button=true owner=owner editable=editable}}
            </div>
        </div>
    </section>
</form>
