<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'SWNPRETTY.ItemName' }}"/>
            </h1>

            <div class="item-subtitle">
                <h4 class="item-type">{{itemType}}</h4>
                <span class="item-status">{{itemStatus}}</span>
            </div>

            <ul class="summary flexrow">
                <li>
                    {{lookup config.equipmentTypes data.armor.type }}
                </li>
                <li>
                    <input type="text" name="data.rarity" value="{{data.rarity}}" placeholder="{{ localize 'SWNPRETTY.Rarity' }}"/>
                </li>
                <li>
                    <input type="text" name="data.source" value="{{data.source}}" placeholder="{{ localize 'SWNPRETTY.Source' }}"/>
                </li>
            </ul>
        </div>
    </header>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "SWNPRETTY.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "SWNPRETTY.Details" }}</a>
<!--        <a class="item" data-tab="effects">{{ localize "SWNPRETTY.Effects" }}</a>-->
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        {{> "systems/swnpretty/templates/items/parts/item-description.html"}}

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">
            <h3 class="form-header">{{ localize "SWNPRETTY.ItemEquipmentDetails" }}</h3>

            {{!-- Equipment Type --}}
            <div class="form-group">
                <label>{{ localize "SWNPRETTY.ItemEquipmentType" }}</label>
                <select name="data.armor.type">
                    {{#select data.armor.type}}
                    <option value=""></option>
                    {{#each config.equipmentTypes as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>

            {{#unless isMountable}}
            <div class="form-group">
                <label>{{localize "SWNPRETTY.Attunement"}}</label>
                <select name="data.attunement" data-dtype="Number">
                    {{selectOptions config.attunements selected=data.attunement localize=true}}
                </select>
            </div>

            {{!-- Equipment Status --}}
            <div class="form-group stacked">
                <label>{{ localize "SWNPRETTY.ItemEquipmentStatus" }}</label>
                <label class="checkbox">
                    <input type="checkbox" name="data.proficient" {{checked data.proficient}}/> {{ localize "SWNPRETTY.Proficient" }}
                </label>
<!--                <label class="checkbox">-->
<!--                    <input type="checkbox" name="data.equipped" {{checked data.equipped}}/> {{ localize "SWNPRETTY.Equipped" }}-->
<!--                </label>-->
                <label class="checkbox">
                    <input type="checkbox" name="data.identified" {{checked data.identified}}/> {{ localize "SWNPRETTY.Identified" }}
                </label>
            </div>
            {{/unless}}

            {{!-- Armor Class --}}
            <div class="form-group">
                <label>{{ localize "SWNPRETTY.ArmorClass" }}</label>
                <div class="form-fields">
                   <input type="text" name="data.armor.value" value="{{data.armor.value}}" data-dtype="Number"/>
                </div>
            </div>

            {{#unless isMountable}}
            {{!-- Dexterity Modifier --}}
            <div class="form-group">
                <label>{{ localize "SWNPRETTY.ItemEquipmentDexMod" }}</label>
                <div class="form-fields">
                   <input type="text" name="data.armor.dex" value="{{data.armor.dex}}" data-dtype="Number" placeholder="{{ localize 'SWNPRETTY.Unlimited' }}"/>
                </div>
            </div>

            {{!-- Vulnerabilities -Lofty --}}
            <div class="form-group">
                <label>Vulnerabilities and Resistances</label>
                <div class="form-fields">
                    <input type="text" name="data.vulnresist" value="{{data.vulnresist}}" placeholder="{{ localize 'SWNPRETTY.None' }}"/>
                </div>
            </div>

<!--            {{!&#45;&#45; Required Strength &#45;&#45;}}-->
<!--            <div class="form-group">-->
<!--                <label>{{ localize "SWNPRETTY.ItemRequiredStr" }}</label>-->
<!--                <div class="form-fields">-->
<!--                   <input type="text" name="data.strength" value="{{data.strength}}" data-dtype="Number" placeholder="{{ localize 'SWNPRETTY.None' }}"/>-->
<!--                </div>-->
<!--            </div>-->

<!--            First, SWN doesn't have disadvantage RAW, second it's not yet connected to the right stats, so -->
<!--            {{!&#45;&#45; Stealth Disadvantage &#45;&#45;}}-->
<!--            <div class="form-group">-->
<!--                <label>{{ localize "SWNPRETTY.ItemEquipmentStealthDisav" }}</label>-->
<!--                <input type="checkbox" name="data.stealth" value="1" {{checked data.stealth}}/>-->
<!--            </div>-->
<!--            {{/unless}}-->

            {{#if isMountable}}
            {{> 'systems/swnpretty/templates/items/parts/item-mountable.html'}}
            <div class="form-group">
                <label>{{localize 'SWNPRETTY.Speed'}}</label>
                <div class="form-fields">
                    <input type="text" name="data.speed.value" value="{{data.speed.value}}"
                           placeholder="0" data-dtype="Number">
                    <span class="sep">{{localize 'SWNPRETTY.FeetAbbr'}}</span>
                    <input type="text" name="data.speed.conditions"
                           value="{{data.speed.conditions}}">
                </div>
            </div>
            {{/if}}

            <h3 class="form-header">{{ localize "SWNPRETTY.ItemEquipmentUsage" }}</h3>

            {{!-- Item Activation Template --}}
            {{> "systems/swnpretty/templates/items/parts/item-activation.html"}}

            <h3 class="form-header">{{ localize "SWNPRETTY.ItemEquipmentAction" }}</h3>

            {{!-- Item Action Template --}}
            {{> "systems/swnpretty/templates/items/parts/item-action.html"}}
        </div>

<!--        {{!&#45;&#45; Effects Tab &#45;&#45;}}-->
<!--        <div class="tab effects flexcol" data-group="primary" data-tab="effects">-->
<!--            {{> "systems/swnpretty/templates/actors/parts/active-effects.html"}}-->
<!--        </div>-->
    </section>
</form>
